body {
    background-color: #141414;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.jumbotron {
    background: linear-gradient(135deg, #1c1c1c, #333);
}

.btn-warning {
    color: #000;
    font-weight: bold;
}

a {
    color: #ffcc00;
}

a:hover {
    color: #fff;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}
.table-hover tbody tr:hover {
    background-color: #343a40;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}
